// panels
.panel-default > div {border-width: 1px;}
.panel-heading {
  border-bottom: 2px solid; 
  background-color: inherit!important;
}
.panel-title   {color: @text-color;}
h3.panel-title   {font-size: @font-size-h4;}

// icon list-style-type: square;
.icon-list {list-style: none; display: table-row-group;}
blockquote.homepage {border-left: 2px solid #eee; font-size: @font-size-base; line-height: @line-height-base;}
blockquote:hover {border-color:  @brand-primary;}

