.center {text-align: center;text-align: -webkit-center;}
.text-error {color: #b94a48;}


// стили статей в разделе стекло
article.steklo {
	img {padding: 0px; 
		@media (min-width: @screen-sm) {padding-right: 15px;} 
	}

}

// стили картинок в тексте раздела стекло
.fulltext a.thumb {
	.img-responsive;
	img { padding:0px; .img-responsive; }
	&.right {.pull-right;}
	&.left  {.pull-left;}

	@media (min-width: @screen-sm) {
		img {width: 489px;}
		&.right {padding-left: 15px;}
		&.left  {padding-right: 25px;} // чтобы  маркеры списка не залезали на картинку
	}


	@media (min-width: @screen-xs) {
		&.right.vert {padding-left: 15px;}
		&.left.vert  {padding-right: 15px;} 
		&.vert  { img {width: 300px;} }
	}

}