// to top link
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
//  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 999;
  background-color: @blue;
  color: @white;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  .transition(all 0.5s ease-in-out);
}

.scroll-top-wrapper:hover {
  background-color: darken(@blue, 20%);
}
.scroll-top-wrapper.show {
 // visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
