@font-family-open-sans:  'Open sans', sans-serif;


@navbar-padding-vertical: 1px;
@mytabs-border-bottom-color:      #ddd; // 


@transparent:		  transparent;
@body-background:     #f4f6f7; //** Background color for `<body>`
@container-border:    darken(@body-background, 10%);

@black:   		      #000;
@white:               #fff;
@lightgrey:   		  #c9c9c9;
@blue:       		  #0088cc;
@lightblue:           #87bce8;
@brand-primary:       @blue;
@red:       		  red;
@green:       		  green;

@thumbnail-border-radius: 0;

@panel-margin:        auto;

@font-size-h1:            32px;
@font-size-h2:            24px;
@font-size-h3:            20px;
@font-size-h4:            16px;
@font-size-h5:            14px;
@font-size-h6:            12px;