@icon-font-path:      "../../fonts";
@fa-font-path:        "../../fonts";
@font-family-open-sans:  'Open sans', sans-serif;


@navbar-padding-vertical: 1px;
@mytabs-border-bottom-color:      #ddd; // 


@body-background:     #f4f6f7; //** Background color for `<body>`
@white:               #fff;
@black:   		      #000;
@lightgrey:   		  #c9c9c9;
@container-border:    darken(@body-background, 10%);
@brand-primary:       #0088cc;
@panel-margin:        auto;


@font-size-h1:            32px;
@font-size-h2:            24px;
@font-size-h3:            20px;
@font-size-h4:            16px;
@font-size-h5:            14px;
@font-size-h6:            12px;