body {background-color: @body-background}

// margins and paddings
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-top-20    { margin-top:20px;}
.margin-top-0     { margin-top:0px!important;}
.padding-0        {padding: 0;}
.padding-5        {padding: 5px;}
.border-0         {border: 0;}
.margin-0         {margin: 0;}
.margin-5         {margin: 5px;}
.margin-right-10  {margin-right:10px;} 
.margin-right-20  {margin-right:20px;} 
.margin-left-15  {margin-left:15px;} 
.margin-right-15  {margin-right:15px;} 

.row {.margin-0}
.black {color: @black;}

#main {  
  background:url("/img/header.jpg") no-repeat @white;
  max-width:1050px;
  border:1px solid darken(@body-background, 10%);
  padding: 0 20px 20px 20px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow:0 0 6px rgba(0,0,0,0.05);
  -moz-box-shadow:0 0 6px rgba(0,0,0,0.05);
  -webkit-box-shadow:0 0 6px rgba(0,0,0,0.05)
  }

//header { height: 350px; }

.search {
  background-color: #ffffff;
  border: 1px solid @white;
  margin: 6px 0 0 100px;
  width: 117px;
}
.search input {height: 25px;}
.search i {margin: 6px 0 0 -15px; color: @link-color;}


.callback {
  clear: both;
  position:relative;
  font-style: italic;
  font-size: 2em;
  color: @link-color;
  line-height: 1.5em;
  top: -20px;
  padding-left: 15px;
}

.root {display:inherit; width: 330px; height: 50px;} // ссылка на главную страницу в районе логотипа




// carousel on homepage
#mainCarousel > .carousel-inner  {
  max-width: 912px; 
  margin-left: auto;
  margin-right: auto;
}

.carousel .carousel-arrow a.left i  {left: 14px;}
.carousel .carousel-arrow a.right i {right: 13px;}

.carousel .carousel-arrow a.left-2 i  {left: 0;}
.carousel .carousel-arrow a.right-2 i {right: 0;}

.carousel .carousel-arrow a.carousel-control {
opacity: 0.3;
font-size: 30px;
height: inherit;
width: inherit;
background: none;
text-shadow: none;
position: inherit;
}

.carousel .carousel-arrow a.carousel-control:hover {opacity: 1;}

.carousel .carousel-arrow a i {
top: 50%;
background: #000;
margin-top: -18px;
padding: 2px 12px;
position: absolute;
}

.carousel .carousel-caption {
left: 0;
right: 0;
bottom: 0;
text-align: left;
padding: 5px 15px;
background: rgba(0, 0, 0, 0.7);
}

.btn-outline-white {
    color: @white;
    background-color: transparent;
    border: 2px solid @white;
    margin-right: 15px;
    &:hover {
    color: @black;
    background-color: @white;
    border-color: @white;
    }
}

.btn-outline-black {.btn-outline-white; color:@black;}


.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest {visibility: visible;}




// button file input
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  margin-left: 20px;
  background-color: white !important;
  cursor: text !important;
}

#content       { text-align: justify; padding: 0px 15px; }
#bottommodules { padding: 0px; }



.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  // выравнивание вдоль главной оси, чтобы крайние элементы были по краям
}


.flexitem {
  display: flex;
  display: -webkit-flex;
  flex-direction: column; // теперь главная ось направлена сверху вниз
  flex-wrap: wrap; // перенос осуществляется по направлению кросс оси, сверху вниз
  justify-content: flex-start; // выравнивание элементов вдоль главной оси
  align-items: center; // выравнивание элементов вдоль кросс оси
  // align-content: center; // выравнивание целых строк относительно гибкого контейнера. 
                         // Оно не будет давать эффекта если гибкие элементы занимают одну строку.
}


@import "includes/css3.less"; // стили css3
@import "includes/menu.less"; // стили меню
@import "includes/links.less"; // стили раздела Ссылки
@import "includes/pesok.less"; // стили галереи пескоструйных рисунков
@import "includes/headers.less"; // стили заголовков h1...h6
@import "includes/text.less"; // стили основного текста
@import "includes/images.less"; // стили основного текста
@import "includes/alerts.less"; // стили цветных блоков
@import "includes/category.less"; // стили страниц листинга категории
@import "includes/totop.less"; // to top link
@import "includes/panels.less"; // panels
