body {background-color: @body-background}

// margins and paddings
.margin-0         {margin: 0;}
.margin-5         {margin: 5px;}

.margin-bottom-5  {margin-bottom:5px;}
.margin-bottom-10 {margin-bottom:10px;} 
.margin-bottom-15 {margin-bottom:15px;}
.margin-bottom-20 {margin-bottom:20px;}
.margin-bottom-25 {margin-bottom:25px;}
.margin-bottom-30 {margin-bottom:30px;}

.margin-top-0     {margin-top:0px!important;}
.margin-top-20    {margin-top:20px;}

.margin-right-10  {margin-right:10px;} 
.margin-right-15  {margin-right:15px;} 
.margin-right-20  {margin-right:20px;} 

.margin-left-15   {margin-left:15px;} 

.padding-0        {padding: 0;}
.padding-5        {padding: 5px;}
.padding-15        {padding: 15px;}
.padding-20        {padding: 20px;}

.padding-left-0  {padding-left: 0px;}
.padding-right-0  {padding-right: 0px;}
.padding-left-20  {padding-left: 20px;}


.border-0         {border: 0;}

.row {.margin-0}
.black {color: @black!important;}
.noclear {clear: none!important;}

#main {  
  background:url("/img/header.jpg") no-repeat @white;
  max-width:1050px;
  border:1px solid darken(@body-background, 10%);
  padding: 0 20px 20px 20px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow:0 0 6px rgba(0,0,0,0.05);
  -moz-box-shadow:0 0 6px rgba(0,0,0,0.05);
  -webkit-box-shadow:0 0 6px rgba(0,0,0,0.05)
  }

//header { height: 350px; }

.search {
  background-color: #ffffff;
  border: 1px solid @white;
  margin: 6px 0 0 100px;
  width: 117px;
}
.search input {height: 25px;}
.search i {margin: 6px 0 0 -15px; color: @link-color;}


.callback {
  clear: both;
  position:relative;
  font-style: italic;
  font-size: 2em;
  color: @link-color;
  line-height: 1.5em;
  top: -20px;
  padding-left: 15px;
}

.root {display:inherit; width: 330px; height: 50px;} // ссылка на главную страницу в районе логотипа



#content       { text-align: justify; padding: 0px 15px; }
#bottommodules { padding: 0px; }



.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  // выравнивание вдоль главной оси, чтобы крайние элементы были по краям
}


.flexitem {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column; // теперь главная ось направлена сверху вниз
  flex-wrap: wrap; // перенос осуществляется по направлению кросс оси, сверху вниз
  justify-content: space-between; // выравнивание элементов вдоль главной оси
  align-items: center; // выравнивание элементов вдоль кросс оси
  // align-content: center; // выравнивание целых строк относительно гибкого контейнера. 
                         // Оно не будет давать эффекта если гибкие элементы занимают одну строку.
}

@import "includes/alerts.less"; // стили цветных блоков
@import "includes/buttons.less"; // стили кнопок
@import "includes/category.less"; // стили страниц листинга категории
@import "includes/css3.less"; // стили css3
@import "includes/forms.less"; // стили форм
@import "includes/furnitura.less"; // стили furnitura
@import "includes/headers.less"; // стили заголовков h1...h6
@import "includes/images.less"; // стили картинок
@import "includes/links.less"; // стили раздела Ссылки
@import "includes/menu.less"; // стили меню
@import "includes/panels.less"; // panels
@import "includes/slider.less"; // sliders
@import "includes/text.less"; // стили основного текста
@import "includes/totop.less"; // to top link
